.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 2rem;
  background-color: var(--white);
}

.formContainer h4 {
  margin: 0;
}

.btn {
  width: 100%;
}

.title {
  background: var(--white);
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 2rem;
}
