.title {
  background: var(--white);
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.tableContainer {
  display: block;
  width: 100%;
  overflow: auto;
}
.tableContainer table {
  display: block;
  width: 100%;
  overflow: auto;
}
