.container {
  height: 100vh;
  background-color: var(--black);
  position: fixed;
  top: 0;
  color: var(--white);
  padding: 0 2rem;
  transition: 0.5s all ease-in-out;
  z-index: 100;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  gap: 3rem;
}

.btn {
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 2rem;
  font-weight: bolder;
  color: var(--light-blue);
  z-index: 200;
}

.logo {
  display: flex;
  align-items: center;
}

.container ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.container ul li a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.container ul svg {
  fill: var(--white);
}

.li:hover .icon {
  fill: var(--light-blue);
}
.li:hover .link {
  color: var(--light-blue);
}
