:root {
  --main-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  --white: #fff;
  --black: #111111;
  --grey: #bbb9b9;
  --light-blue: #58c1f5;
  --light-pink: #f2f2f2;
  --skeleton: #d9dadb;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-pink);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link {
  text-decoration: none;
}
a {
  color: inherit;
}

li {
  list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
  font-family: 'DM Sans', sans-serif;
}

table {
  padding: 2rem;
}

td {
  border-bottom: 1px solid var(--grey);
}

table,
th,
td {
  background-color: var(--white);
}
td,
th {
  padding: 5px 10px;
}

.btn {
  padding: 0.35rem 0.7rem;
  cursor: pointer;
  border: none;
}

.btn-primary {
  background-color: var(--light-blue);
  color: var(--white);
}
.btn-primary:hover {
  opacity: 0.8;
}
.btn-secondary {
  background-color: var(--grey);
  color: var(--white);
}
.btn-secondary:hover {
  background-color: var(--black);
  color: var(--white);
}

input {
  background-color: var(--light-pink);
  border: none;
  padding: 0.35rem 0.7rem;
  width: 12rem;
}

textarea:focus,
input:focus {
  outline: none;
}
